instaloader==4.9.6
dropbox==11.21.0
git+https://github.com/obervinov/messages-package.git@v1.0.0#egg=messages
git+https://github.com/obervinov/logger-package.git@v1.0.1#egg=logger
git+https://github.com/obervinov/users-package.git@v1.0.2#egg=users
git+https://github.com/obervinov/vault-package.git@release/v2.0.0#egg=vault
git+https://github.com/obervinov/telegram-package.git@v1.1.0#egg=telegram