---
  name: PR
  
  on:
    push:
      branches:
        - '*'
        - '*/*'
        - '**'
        - '!main'
  
  jobs:
    changelog:
      uses: obervinov/_templates/.github/workflows/changelog.yaml@v1.2.9
  
    pylint:
      uses: obervinov/_templates/.github/workflows/pylint.yaml@v1.2.9
  
    pytest:
      uses: obervinov/_templates/.github/workflows/pytest-with-vault.yaml@v1.2.9
  
    pyproject:
      uses: obervinov/_templates/.github/workflows/pyproject.yaml@v1.2.9
    
    pr:
      uses: obervinov/_templates/.github/workflows/pr.yaml@v1.2.9
  
    build-pr-image:
      uses: obervinov/_templates/.github/workflows/docker.yaml@v2.0.0
      needs: [changelog, pylint, pytest, pyproject]