---
  name: PR
  
  on:
    push:
      branches:
        - '*'
        - '*/*'
        - '**'
        - '!main'
  
  jobs:    
    pr:
      uses: obervinov/_templates/.github/workflows/pr.yaml@v2.1.1
    pyproject:
      uses: obervinov/_templates/.github/workflows/pyproject.yaml@v2.1.1

    build-pr-image:
      uses: obervinov/_templates/.github/workflows/docker.yaml@v2.1.1
      needs: [pr, pyproject]
