---
  name: Release
  
  on:
    pull_request:
      branches:
        - main
      types:
        - closed
  
  jobs:
    create-release:
      if: github.event.pull_request.merged == true
      uses: obervinov/_templates/.github/workflows/release.yaml@v1.2.9
  
    cleanup-untagged-images:
      if: github.event.pull_request.merged == true
      runs-on: ubuntu-latest
      steps:
        - name: Delete untagged images from GitHub Container Registry
          continue-on-error: true
          uses: Chizkiyahu/delete-untagged-ghcr-action@v4
          with:
            token: ${{ secrets.PAT_GHCR_CLEANUP }}
            package_name: 'pyinstabot-downloader'
            untagged_only: true
            except_untagged_multiplatform: false
            owner_type: 'user'
