---
name: Release

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  create-release:
    uses: obervinov/_templates/.github/workflows/release.yaml@v1.2.5
    needs: [build-release-image]

  # milestone:
  #   uses: obervinov/_templates/.github/workflows/milestone.yaml@v1.2.5
  #   needs: [create-release, build-release-image]
