---
name: Test, Build and create release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - '*'
      - '*/*'
      - '**'

env:
  # yamllint disable-line rule:line-length
  PROJECT_DESCRIPTION: "This project is a telegram bot that allows you to create backups of content from your Instagram profile to Dropbox or Mega clouds, as well as in the local file system."


jobs:
  pylint:
    uses: obervinov/_templates/.github/workflows/test.pylint.yml@v1.0.5
  verify-changelog:
    uses: obervinov/_templates/.github/workflows/verify.changelog.yml@v1.0.5
  build-release:
    uses: obervinov/_templates/.github/workflows/build.docker.yml@v1.0.5
    needs: [pylint, verify-changelog]
